<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="app">
    姓：<input v-model="firstName"/>  <br/><br/>
    名：<input v-model="lastName"/>  <br/><br/>
    <div>全名：{{ fullName }}</div> 
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        firstName: '张',
        lastName: '三',
        fullName: '张-三'
      },
      watch: {
        firstName(val){
          this.fullName = val + '-' + this.lastName;
        },
        lastName(val){
          this.fullName = this.firstName + '-' + val;
        }
      }
    })
  </script>
</body>
</html>

