<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="app">
    姓：<input v-model="firstName"/>  <br/><br/>
    名：<input v-model="lastName"/>  <br/><br/>
    <!-- 表达式冗长不利于观察 -->
    <div>{{ firstName.slice(0, 3) + '-' + this.lastName }}</div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        firstName: '张',
        lastName: '三',
      }
    })
    
  </script>
</body>
</html>