<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="app">
    姓：<input v-model="firstName"/>  <br/><br/>
    名：<input v-model="lastName"/>  <br/><br/>
    <!-- 调用 get() 并缓存得到的值 -->
    <div>{{ fullName }}</div> 
    <!-- 不调用 get() 使用缓存的值 -->
    <div>{{ fullName }}</div>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        firstName: '张',
        lastName: '三',
      },
      computed: {
        fullName: {
          // get 什么时候调用？ 1.初次读取 fullName 时  2.所依赖的数据发生变化时  （保证最新的值）
          get(){  // vue 已经将 get 中的 this 指向当前 Vue 对象了
            return this.firstName.slice(0, 3) + '-' + this.lastName;
          },
          // set 什么时候调用？ 1.fullName 被修改时
          set(value){ // 可选项
            let arr = value.split('-');
            this.firstName = arr[0];
            this.lastName = arr[1];
          }
        }
      }
    })
    
  </script>
</body>
</html>
